<!--TEXTO-->

<div class="container mt-5">
  <h1 class="d-flex justify-content-center mb-5 mt-5">Sobre o Organic-Food</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse sapiente consequuntur facere quae sequi distinctio pariatur nesciunt reiciendis exercitationem. Quaerat corporis iure rerum vel accusamus. Quasi, impedit? Culpa, quas ratione.
      </p>
      <p>
        Além de alimentos, também é possível vender artesanatos ou produtos que de alguma forma seja sustentável.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet sunt animi sequi debitis tenetur exercitationem, ex repellendus quos ipsam eius tempora magnam rerum, incidunt, impedit illo laudantium eaque ab officia.
      </p>
     

</div>


<hr>
<!--CARD  E PRODUTOS-->
<section id="parte">
  <div class="container d-flex" id="ut">
    <div class="col-5">
      <div class="card text-white">

        <img src="../../assets/img/produtos.jpg" alt="Imagem do card">
        <div class="card-img-overlay">
          <h5 class="card-title" id="co"> <a routerLink="/todos-produtos" id="txt"><strong>Conheça nossos produtos</strong></a></h5>
        </div>
      </div>
    </div>
    <div class="col-2">
      <h1 id="ou"><strong>OU</strong></h1>
    </div>
    <div class="col-5">
      <div class="card text-white">
        <img src="../../assets/img/sejaProdutora.jpg" alt="Imagem do card">
        <div class="card-img-overlay">
          <h5 class="card-title" id="co"><a routerLink='/cadastrar' id="txt"><strong>Seja um de nossos fornecedores</strong></a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>
